.srt-macro-button {
    width: 175px;
    height: 44px;
    line-height: 38px;
    text-align: center;
    background: #572b4c;
    color: #ffffff;
    font-size: 13px;
    border: 1px solid #572b4c;
    border-radius: 20px;
    cursor: pointer;
}