.srt-macro-button {
    width: 200px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    background: #572b4c;
    color: #ffffff;
    font-size: 18px;
    border: 1px solid #572b4c;
    border-radius: 5px;
    cursor: pointer;
}